{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
<h1>Ingredients</h1>
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'add-ingredient' %}">Add New Ingredient</a>
    {% endif %}
</div>
<h3>All Ingredients</h3>
<section>
    <ul>
        {% for ingredient in ingredient_list.all %}
            {% if not user.is_authenticated %}
                <li>{{ ingredient.name }}</li>
            {% elif ingredient.user != user %}
                <li>{{ ingredient.name }}</li>
            {% else %}
                <li><a href="{% url 'edit-ingredient' ingredient.id %}">{{ ingredient.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
{% endblock content %}