{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
<h2>{{ recipe.name }}</h2>
<div>
    {% if user.is_authenticated and recipe.user == user %}
    <a href="{% url 'edit-recipe' recipe.id %}">Edit Recipe</a>
    <a href="{% url 'delete-recipe' recipe.id %}">Delete Recipe</a>
    {% endif %}
</div>
<div>
    <p>{{ recipe.description }}</p>
    {% if recipe.ingredients.count %}
        {% if not user.is_authenticated or recipe.user != user %}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient }}
                <form action="{% url 'recipe-remove-ingredient' recipe.id ingredient.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove Ingredient</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    {% if recipe.user == user %}
    <p>Add Ingredients</p>
    {% for ingredient in available_ingredients %}
        <form action="{% url 'recipe-associate-ingredient' recipe.id ingredient.id %}" method="post">
            {% csrf_token %}
            <button type="submit">{{ ingredient.name }}</button>
        </form>
    {% endfor %}

    <p>Not seeing an ingredient you need?</p>
    <a href="{% url 'add-ingredient' %}">Add New Ingredient</a>
    {% endif %}
</div>
<div>
    {% if user.is_authenticated %}
    {% comment %} <a href="{% url 'add-variant' recipe.id %}">Create a New Variant</a> {% endcomment %}
    {% endif %}
</div>
<div>
    <h3>Variants</h3>
    <ul>
        {% comment %} {% for variant in recipe.variant_set.all %} {% endcomment %}
        {% comment %} <li><a href="{% url 'variant' recipe.id variant.id %}">{{ variant.name }}</a></li> {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
    </ul>
</div>

{% endblock content %}
