{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
<h2>{{ recipe.name }}</h2>
<div>
    {% if user.is_authenticated and recipe.user == user %}
    <a href="{% url 'edit-recipe' recipe.id %}">Edit Recipe</a>
    <a href="{% url 'delete-recipe' recipe.id %}">Delete Recipe</a>
    {% endif %}
</div>
<div>
    <h4>Description</h4>
    <p>{{ recipe.description }}</p>
    <h4>Ingredients</h4>
    {% if recipe.ingredients.count %}
        {% if not user.is_authenticated or recipe.user != user %}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient }}
                <form action="{% url 'recipe-remove-ingredient' recipe.id ingredient.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove Ingredient</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    {% if recipe.user == user %}
    <h5>Add Ingredients</h5>
    <div class="add-ingredients">
        {% for ingredient in available_ingredients %}
            <form action="{% url 'recipe-associate-ingredient' recipe.id ingredient.id %}" method="post">
                {% csrf_token %}
                <button type="submit">{{ ingredient.name }}</button>
            </form>
        {% endfor %}
    </div>
    <p>Not seeing an ingredient you need?</p>
    <a href="{% url 'add-ingredient' %}">Add New Ingredient</a>
    {% endif %}
</div>
<h4>Variants</h4>
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'add-variant' recipe.id %}">Create a New Variant</a>
    {% endif %}
</div>
<div>
    <ul>
        {% for variant in recipe.variant_set.all %}
        <li><a href="{% url 'recipe-variant' recipe.id variant.id %}">{{ variant.name }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
